.textoBuscar button{
    position:absolute;
    margin-top:-30px;
    left:400px;
    border:none;
    background-color:transparent;
    cursor:pointer;
}
.categoria{
    width: auto;
    height: 500px;
    position:relative;
}
.categoria h2{
    padding-left:130px;
    position:absolute;
    top:20px;
    font-size: 40px;
    z-index:1;
    font-family: 'Raleway';
}
.btn-todo-SW,.btn-todo-CS,.btn-todo-DV{
    position:absolute;
    left:110rem;    
    top:3rem;
    font-size: 18px;
    font-weight: 800;
    color:#2A7AE4;
    font-family: 'Raleway';
    cursor:pointer;
}
.card{
    
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    width:fit-content;
}
.card h3{
        
    text-align:center;
        padding-left:50px;
        padding-top: 10px;
        top:950px;
        font-size: 20px;
        font-family: 'Raleway';
}
.card p{
        text-align:center;
        padding-top: 10px;
        padding-left:50px;
        padding-bottom: 20px;
        top:950px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Raleway';
}
.card a{
    margin-left:90px;
    text-align:center;
    margin-top:20px;
    padding-top: 30px;
    top:950px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Raleway';
    font-style: none;
    text-decoration:none;
    cursor:pointer;
    color:#2c84f7;
    

}
.card img{
    position:relative;
    display:flex;
    flex-direction:row;
    flex:wrap;
    width: 200px;
    height: 200px;
    margin: 0 0 0 55px;
    font-family: 'Raleway';
}
.topo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    gap: 611px;
    background: #FFFFFF;
    padding-bottom:70px;
    }
    #logo{
        display:flex;
        position: absolute;
        left: 3%;
        right: 0%;
        top: 2.5%;
        bottom: 0%;
    }
    .textoBuscar {
            position: absolute;
            left: 22%;
            top: 3%;
            width: 271px;
            border-radius:20%;
            font-family: 'Raleway';
            
    }
    .input-icon {
            color: #191919;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 415px;
            top: 50%;
            transform: translateY(-50%);
    }
    #search-text {
        font-size: 14px;
        color: #ddd;
        width:430px;
        border-radius: 20px;
        border-width: 0;
        background: rgb(235, 235, 235);
        padding: 9px 0 12px 1em;   
        font-family: 'Raleway'; 
    }
        #search-box input[type="text"] {
        width: 90%;
        padding: 18px 0 12px 1em;
        outline: none;
        font-family: 'Raleway';
    }

    section.title{
        padding-bottom:20px;
        background-color: rgb(240, 240, 240);
        font-family: 'Raleway';
        width:auto;
    }
    .title__productos__ALL{
        padding-left:150px;
        position:absolute;
        top:170px;
        font-size: 40px;
        z-index:1;
        font-family: 'Raleway';
    }

    #botonaddProducto{
        position:absolute;
        top:170px;
        left:1650px;
        position:absolute;
        padding-left:10px;
        position:absolute;
        font-size: 18px;
        z-index:1;
        font-size:18px;
        border: 2px solid;
        color: white;
        background-color:  #2A7AE4;;
        border-color: #2A7AE4;
        width: 200px;
        height: 50px;
        font-family: 'Raleway';
        cursor: pointer;
    }
#botonaddProducto:hover{
    transition: .1s all;
    background-color: #749dcf;
    font-family: 'Raleway';
}
    .title__catalogo__ALL{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        padding-bottom:50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 180px;
        font-family: 'Raleway';
        line-height: 30px;
    }

    .title__producto__item_1,.title__producto__item_2,.title__producto__item_3,.title__producto__item_4,.title__producto__item_5,.title__producto__item_6,.title__producto__item_7,.title__producto__item_8,.title__producto__item_9,.title__producto__item_10,.title__producto__item_11,.title__producto__item_12,.title__producto__item_13,.title__producto__item_14,.title__producto__item_15,.title__producto__item_16,.title__producto__item_17,.title__producto__item_18{
        margin-bottom:20px;
        padding-left:80px;
    }

    #accesoProducto{
        cursor: pointer;
    }
    #accesoProducto:hover{
        cursor: pointer;
        color:#749dcf;
    }
    /*Contacto*/

section.formcontato{
    padding: 1px 0;
    background-color:rgb(216, 237, 252); 
    font-family: 'Raleway';
}
section.formcontato div.formcontato__contacto{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 64px 350px;
    font-family: 'Raleway';
}
div.formcontato__text h2.formcontato__title{
    font-style: normal;
    font-size: 32px;
    font-weight:700;
    line-height: 15px;
    font-family: 'Raleway';
}
div.formcontato__text h3.formcontato__subtext{
    font-style: normal;
    font-size: 16px;
    font-weight:700;
    line-height: 15px;
    font-family: 'Raleway';
}
div.formcontato__text form.formcontato__form{
    width: 190%;
    max-width: 500px;
    margin:0%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}
div.formcontato__text form.formcontato__form input.formcontato__input{
    margin: 4px;
    font-family: 'Raleway';;
    font-style: normal;
    font-weight:400;
    font-size: 16px;
    line-height: 36px;
    border:none;
}
div.formcontato__text form.formcontato__form textarea.formcontato__textarea{
    margin: 4px;
    font-family: 'Raleway';;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    resize: none;
    border: none;
}
div.formcontato__text form.formcontato__form button.formcontato__botao{
    margin: 4px;
    width: 12rem;
    min-width: 6rem;
    height: 3rem;
    border-radius: 0.3rem;
    transition: 1s all;
    background-color: #2A7AE4;
    color: #ebf3f6;
    border: none;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
div.formcontato__text form.formcontato__form button.formcontato__botao:hover {
    transition: .1s all;
    background-color: #749dcf;
    font-family: 'Raleway';
    cursor: pointer;
}

.formcontato__img{
    margin-bottom:195px;
    margin-right:10px;
}

.listaFooter{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    align-content: flex-end;
    line-height: 40px;
    padding-right: 60px;
    font-family: 'Raleway';
}

/* Footer */

section.footer{
    justify-content: space-around;
    align-items: center;
 }
 
 section.footer div.footer__rodape{
     width: 100%;
     right: 3%; 
     display: flex; 
     color:black;
     background-color: white;
     justify-content: center;
     text-align: center;
     padding-top:20px;
     padding-bottom:20px;
     font-family: 'Raleway';
 }
