
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

/* Vector */

/* Auto layout */


.Separador{
    margin-top:40px;
    width: auto;
    height: 150px;
    position:relative;
    background-color:#2A7AE4;
}
.Separador h2{
    color:white;
    padding-left:130px;
    position:absolute;
    top:55px;
    font-size: 40px;
    z-index:1;
    font-family: 'Raleway';
}
.btn-todo-SW,.btn-todo-CS,.btn-todo-DV{
    position:absolute;
    left:110rem;    
    top:3rem;
    font-size: 18px;
    font-weight: 800;
    color:#2A7AE4;
    font-family: 'Raleway';
    cursor:pointer;
}
.card{
    background-color: rgb(235, 235, 235);
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
    width:fit-content;
}
.card h3{
    text-align:center;
        padding-left:50px;
        padding-top: 10px;
        top:950px;
        font-size: 20px;
        font-family: 'Raleway';
}
.card p{
        text-align:center;
        padding-top: 10px;
        padding-left:50px;
        padding-bottom: 20px;
        top:950px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Raleway';
}
.card a{
    margin-left:90px;
    text-align:center;
    margin-top:20px;
    padding-top: 30px;
    top:950px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Raleway';
    font-style: none;
    text-decoration:none;
    cursor:pointer;
    color:#2c84f7;
    

}
.card img{
    box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.75);
    position:relative;
    display:flex;
    flex-direction:row;
    flex:wrap;
    width: 200px;
    height: 200px;
    margin: 0 0 0 55px;
    font-family: 'Raleway';
}
#lista-resultado{
z-index: 2;    
}
.topo{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 0px;
gap: 611px;
background: #FFFFFF;
}
#logo{
    display:flex;
    position: absolute;
    left: 3%;
    right: 0%;
    top: 2.5%;
    bottom: 0%;
}
.textoBuscar {
        position: absolute;
        left: 22%;
        top: 3%;
        width: 271px;
        border-radius:20%;
        font-family: 'Raleway';
        
}

.input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 415px;
        top: 50%;
        transform: translateY(-50%);
        cursor:pointer;
}
#search-text {
    font-size: 14px;
    color: rgb(8, 8, 8);
    width:430px;
    border-radius: 16px;
    border-width: 0;
    background: rgb(235, 235, 235);
    padding: 9px 0 12px 1em;   
    font-family: 'Raleway'; 
}
    #search-box input[type="text"] {
    width: 90%;
    padding: 18px 0 12px 1em;
    outline: none;
    font-family: 'Raleway';
}
#botonLogin{
    position: absolute;
    font-size:18px;
    left: 60%;
    top: 2.5%;
    width: 130px;
    height: 45px;
    border: 2px solid;
    color:white;
    background-color:  #2A7AE4;;
    border-color: rgb(38, 102, 175);
    font-family: 'Raleway';
    cursor:pointer;
}
#botonLogin a{
    text-decoration: none;
    font-style: none;
    color:white;
}
#botonLogin:link{
    text-decoration: none;
    font-style: none;
}
#botonLogin:visited{
    text-decoration: none;
    font-style: none;
}
#botonLogin:hover, #botonLogin a:hover{
    background-color:  #1d58a5;;
    border-color: #1b5299;
    transition: 1s all;
    color:white;
}
.banner{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Raleway';
}
#bannerImg{
    object-fit: cover;
    padding: 40px 0 0 0;
    width: 100%;
    height: 100%;
    z-index:2 ;
}
.textoBanner h2{
    padding-left:20px;
    position:absolute;
    top:350px;
    color:white;
    font-size: 50px;
    z-index:1;
    left: 9%;
    font-family: 'Raleway';
}
.textoBanner h3{
    padding-left:20px;
    position:absolute;
    top:410px;
    color:white;
    font-size: 30px;
    z-index:1;
    left: 9%;
    font-family: 'Raleway';
}
#botonConsolas{
    padding-left:10px;
    position:absolute;
    top:490px;
    left: 10%;
    font-size: 18px;
    z-index:1;
    font-size:18px;
    border: 2px solid;
    color: white;
    background-color:  #2A7AE4;;
    border-color: #2A7AE4;
    width: 150px;
    height: 50px;
    font-family: 'Raleway';
    cursor:pointer;
}
#botonConsolas a{
    text-decoration:none;
    color:white;
}
#botonConsolas:link{
    font-style: none;
    text-decoration:none;
}    
#botonConsolas:visited{
    font-style: none;
    text-decoration:none;
}   
#botonConsolas:hover{
    background-color:  #1d58a5;;
    border-color: #1b5299;
    transition: 1s all;
}
.title__productos__SW{
    padding-left:225px;
    position:absolute;
    top:600px;
    font-size: 40px;
    z-index:1;
    font-family: 'Raleway';
}
.title__catalogo__SW{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    padding: 120px;
    margin-left: 50px;
    margin-right:500px;
    font-family: 'Raleway';
}
.title__producto__item_1, .title__producto__item_2, .title__producto__item_3, .title__producto__item_4, .title__producto__item_5, .title__producto__item_6 {
     margin: 10px 0 0 0;
}
#imgcatalogo1, #imgcatalogo2, #imgcatalogo3, #imgcatalogo4, #imgcatalogo5, #imgcatalogo6{
    width: 200px;
    height: 200px;
    margin: 0 0 0 55px;
    font-family: 'Raleway';
}
.irCatalogo{
position:absolute;
left:101rem;    
top:41.5rem;
font-size: 18px;
font-weight: 800;
color:#2A7AE4;
font-family: 'Raleway';
cursor:pointer;
}
.irCatalogo a, .irCatalogo1 a, .irCatalogo2 a{
    text-decoration:none;
    color:#2A7AE4;
}
#irCatalogo:link, #irCatalogo1:link, #irCatalogo2:link{
    font-style: none;
    text-decoration:none;
}    
#irCatalogo:visited,#irCatalogo1:visited,#irCatalogo2:visited{
    font-style: none;
    text-decoration:none;
}  
.irCatalogo a:hover, .irCatalogo1 a:hover, .irCatalogo2 a:hover{
    color:#133869;
    transition: 1s all;
}
#accesoProducto a{
    text-decoration:none;
    color:#2A7AE4;
}

#accesoProducto{
    cursor:pointer;
    color:#2c84f7;
}
#accesoProducto:hover{
    color:#1b5197;
}




#flecha{
    width:15px;
    height:12px;
}

#productoNombre{
    padding-left:50px;
    padding-top: 10px;
    top:950px;
    font-size: 20px;
    font-family: 'Raleway';
}
#precio{
    padding-top: 10px;
    padding-left:50px;
    top:950px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Raleway';
}
#accesoProducto{
    padding-top: 25px;
    padding-left:50px;
    top:20px;
    font-size: 20px;
    color:#2A7AE4;
    font-family: 'Raleway';
}

.title__productos__CS{
    padding-left:225px;
    position:absolute;
    top:1100px;
    font-size: 40px;
    z-index:1;
    font-family: 'Raleway';
}

.title__catalogo__CS{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    padding: 120px;
    margin-left: 50px;
    margin-right:500px;
    font-family: 'Raleway';
}

.title__producto__item_7, .title__producto__item_8, .title__producto__item_9, .title__producto__item_10, .title__producto__item_11, .title__producto__item_12 {
     margin: 5px 0 0 0;
}
   
#imgcatalogo7, #imgcatalogo8, #imgcatalogo9, #imgcatalogo10, #imgcatalogo11, #imgcatalogo12{
    width: 200px;
    height: 200px;
    margin: -55px 0 0 55px;
}
.irCatalogo1{
    position:absolute;
    left:101rem;    
    top:72.1rem;
    font-size: 18px;
    font-weight: 800;
    color:#2A7AE4;
    font-family: 'Raleway';
    cursor:pointer;
}
#accesoProducto1:hover{
    color:#1b5197;
}

#flecha1{
    width:15px;
    height:12px;
}

.title__productos__DV{
    padding-left:225px;
    position:absolute;
    top:1600px;
    font-size: 40px;
    z-index:1;
    font-family: 'Raleway';
}

.title__catalogo__DV{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    padding: 120px;
    margin-left: 50px;
    margin-right:500px;
    font-family: 'Raleway';
}

.title__producto__item_13, .title__producto__item_14, .title__producto__item_15, .title__producto__item_16, .title__producto__item_17, .title__producto__item_18 {
     margin: 5px 0 0 0;
}
   
#imgcatalogo13, #imgcatalogo14, #imgcatalogo15, #imgcatalogo16, #imgcatalogo17, #imgcatalogo18{
    width: 200px;
    height: 200px;
    margin: -55px 0 0 55px;
}
.irCatalogo2{
    position:absolute;
    left:101rem;    
    top:103rem;
    font-size: 18px;
    font-weight: 800;
    color:#2A7AE4;
    font-family: 'Raleway';
    cursor:pointer;
}


#flecha2{
    width:15px;
    height:12px;
}

/*Contacto*/

section.formcontato{
    padding: 1px 0;
    background-color:rgb(216, 237, 252); 
    font-family: 'Raleway';
}
section.formcontato div.formcontato__contacto{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 64px 350px;
    font-family: 'Raleway';
}
div.formcontato__text h2.formcontato__title{
    font-style: normal;
    font-size: 32px;
    font-weight:700;
    line-height: 15px;
    font-family: 'Raleway';
}
div.formcontato__text h3.formcontato__subtext{
    font-style: normal;
    font-size: 16px;
    font-weight:700;
    line-height: 15px;
    font-family: 'Raleway';
}
div.formcontato__text form.formcontato__form{
    width: 190%;
    max-width: 900px;
    margin:0%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}
div.formcontato__text form.formcontato__form input.formcontato__input{
    margin: 4px;
    font-family: 'Raleway';;
    font-style: normal;
    font-weight:400;
    font-size: 16px;
    line-height: 36px;
    border:none;
}
div.formcontato__text form.formcontato__form textarea.formcontato__textarea{
    margin: 4px;
    font-family: 'Raleway';;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    resize: none;
    border: none;
}
div.formcontato__text form.formcontato__form button.formcontato__botao{
    margin: 4px;
    width: 12rem;
    min-width: 6rem;
    height: 3rem;
    border-radius: 0.3rem;
    transition: 1s all;
    background-color: #2A7AE4;
    color: #ebf3f6;
    border: none;
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
div.formcontato__text form.formcontato__form button.formcontato__botao:hover {
    transition: .1s all;
    background-color: #749dcf;
    font-family: 'Raleway';
    cursor: pointer;
}

.formcontato__img{
    margin-bottom:195px;
    margin-right:100px;
}

.listaFooter{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    align-content: flex-end;
    line-height: 40px;
    padding-right: 60px;
    font-family: 'Raleway';
}

/*Buscador de contenido*/

#ctn-bars-search{
    position:fixed;
    top:80px;
    width: 100%;
    background: white;
    padding:20px;
    z-index:10;    
}

#ctn-bars-search input{
display: block;
width:1200px;
margin: auto;
padding:10px;
font-size: 18px;
outline:0;

}
/* Footer */

section.footer{
    justify-content: space-around;
    align-items: center;
 }
 
 section.footer div.footer__rodape{
     width: 100%;
     right: 3%; 
     display: flex; 
     color:black;
     background-color: white;
     justify-content: center;
     text-align: center;
     padding-top:20px;
     padding-bottom:20px;
     font-family: 'Raleway';
 }


